{% extends 'base.html' %}
{% load static %}

{% block title %}S3 Delete - Image Processing App{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h3 class="mb-0">
                        <i class="fas fa-trash me-2"></i>S3 Delete
                    </h3>
                </div>
                <div class="card-body">
                    <p class="text-muted">S3 delete functionality will be implemented here.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
